export("%in%")
export(">.ff_vector")
export("is.na<-.ff")
export(addfforder)
export(binned_sum)
export(binned_sum.ff)
export(binned_sumsq)
export(binned_sumsq.ff)
export(binned_tabulate)
export(binned_tabulate.ff)
export(chunkify)
export(cummax.ff)
export(cummin.ff)
export(cumprod.ff)
export(cumsum.ff)
export(ffappend)
export(ffdfdply)
export(ffdfsave)
export(ffdfwith)
export(ffmatch)
export(ffordered)
export(ffsorted)
export(ffwhich)
export(is.na.ff)
export(laf_to_ffdf)
export(max.ff)
export(min.ff)
export(range.ff)
export(subset.ff)
export(subset.ffdf)
export(sum.ff)
export(table.ff)
export(tabulate.ff)
export(transform.ffdf)
export(unique.ff)
export(unique.ffdf)
importFrom(stats,quantile)
importFrom(stats,weighted.mean)
S3method(all,ff)
S3method(any,ff)
S3method(c,ff)
S3method(compact,ff)
S3method(cut,ff)
S3method(droplevels,ff)
S3method(droplevels,ffdf)
S3method(duplicated,ffdf)
S3method(ffwhich,ff_vector)
S3method(ffwhich,ffdf)
S3method(mean,ff)
S3method(merge,ffdf)
S3method(quantile,ff)
S3method(with,ffdf)
S3method(within,ffdf)
useDynLib(ffbase)
