S3method("!",ff_vector)
S3method("!=",ff_vector)
S3method("%%",ff_vector)
S3method("%/%",ff_vector)
S3method("&",ff_vector)
S3method("*",ff_vector)
S3method("+",ff_vector)
S3method("-",ff_vector)
S3method("/",ff_vector)
S3method("<",ff_vector)
S3method("<=",ff_vector)
S3method("==",ff_vector)
S3method(">",ff_vector)
S3method(">=",ff_vector)
S3method("^",ff_vector)
S3method("|",ff_vector)
S3method(abs,ff_vector)
S3method(acos,ff_vector)
S3method(acosh,ff_vector)
S3method(all,ff)
S3method(any,ff)
S3method(arrange,ffdf)
S3method(arrange,grouped_ffdf)
S3method(arrange,tbl_ffdf)
S3method(as.Date,ff_vector)
S3method(as.character,ff)
S3method(as.data.frame,tbl_ffdf)
S3method(as.ram,ffdf)
S3method(as.tbl,ffdf)
S3method(asin,ff_vector)
S3method(asinh,ff_vector)
S3method(atan,ff_vector)
S3method(atanh,ff_vector)
S3method(binned_sum,default)
S3method(binned_sum,ff)
S3method(binned_sumsq,default)
S3method(binned_sumsq,ff)
S3method(binned_tabulate,default)
S3method(binned_tabulate,ff)
S3method(c,ff)
S3method(ceiling,ff_vector)
S3method(compact,ff)
S3method(cos,ff_vector)
S3method(cosh,ff_vector)
S3method(cut,ff)
S3method(diff,ff)
S3method(digamma,ff_vector)
S3method(dim,tbl_ffdf)
S3method(dimnames,tbl_ffdf)
S3method(do,ffdf)
S3method(do,grouped_ffdf)
S3method(do,tbl_ffdf)
S3method(droplevels,ff)
S3method(droplevels,ffdf)
S3method(exp,ff_vector)
S3method(expm1,ff_vector)
S3method(ffwhich,ff_vector)
S3method(ffwhich,ffdf)
S3method(filter,ffdf)
S3method(filter,grouped_ffdf)
S3method(filter,tbl_ffdf)
S3method(floor,ff_vector)
S3method(format,ff_vector)
S3method(gamma,ff_vector)
S3method(group_by,data.table)
S3method(group_by,tbl_ffdf)
S3method(groups,tbl_ffdf)
S3method(head,tbl_ffdf)
S3method(hist,ff)
S3method(lgamma,ff_vector)
S3method(log,ff_vector)
S3method(log1p,ff_vector)
S3method(mean,ff)
S3method(merge,ffdf)
S3method(mutate,ffdf)
S3method(mutate,grouped_ffdf)
S3method(mutate,tbl_ffdf)
S3method(print,grouped_ffdf)
S3method(print,tbl_ffdf)
S3method(quantile,ff)
S3method(rbind,ffdf)
S3method(rev,ff)
S3method(round,ff_vector)
S3method(same_src,tbl_ffdf)
S3method(select,ffdf)
S3method(select,grouped_ffdf)
S3method(select,tbl_ffdf)
S3method(sign,ff_vector)
S3method(signif,ff_vector)
S3method(sin,ff_vector)
S3method(sinh,ff_vector)
S3method(sqrt,ff_vector)
S3method(summarise,ffdf)
S3method(summarise,grouped_ffdf)
S3method(summarise,tbl_ffdf)
S3method(table,default)
S3method(table,ff)
S3method(tail,tbl_ffdf)
S3method(tan,ff_vector)
S3method(tanh,ff_vector)
S3method(tbl_vars,ffdf)
S3method(tbl_vars,tbl_ffdf)
S3method(trigamma,ff_vector)
S3method(trunc,ff_vector)
S3method(ungroup,ffdf)
S3method(ungroup,grouped_ffdf)
S3method(ungroup,tbl_ffdf)
S3method(with,ffdf)
S3method(within,ffdf)
export("%in%")
export("[.ff")
export("[<-.ff")
export("is.na<-.ff")
export(addfforder)
export(bigglm.ffdf)
export(binned_sum)
export(binned_sum.ff)
export(binned_sumsq)
export(binned_sumsq.ff)
export(binned_tabulate)
export(binned_tabulate.ff)
export(byMean)
export(bySum)
export(chunkify)
export(condMean)
export(condSum)
export(cummax.ff)
export(cummin.ff)
export(cumprod.ff)
export(cumsum.ff)
export(duplicated.ff)
export(duplicated.ffdf)
export(expand.ffgrid)
export(ffappend)
export(ffdfappend)
export(ffdfdply)
export(ffdfmatch)
export(ffdfsave)
export(ffdfwith)
export(ffifelse)
export(ffmatch)
export(ffordered)
export(ffrandom)
export(ffrep.int)
export(ffseq)
export(ffseq_len)
export(ffsorted)
export(ffwhich)
export(ikey)
export(is.grouped_ffdf)
export(is.na.ff)
export(laf_to_ffdf)
export(load.ffdf)
export(log10.ff_vector)
export(log2.ff_vector)
export(max.ff)
export(min.ff)
export(move.ffdf)
export(pack.ffdf)
export(range.ff)
export(rle_ff)
export(save.ffdf)
export(set_ffbase_logging)
export(subset.ff)
export(subset.ffdf)
export(sum.ff)
export(table.ff)
export(tabulate.ff)
export(tbl_ffdf)
export(transform.ffdf)
export(unique.ff)
export(unique.ffdf)
export(unpack.ffdf)
import(ff)
importFrom(bit,chunk)
importFrom(fastmatch,fmatch)
importFrom(stats,quantile)
importFrom(stats,weighted.mean)
useDynLib(ffbase)
